Source: pd-earplug
Section: sound
Priority: optional
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Hans-Christoph Steiner <hans@eds.org>
Build-Depends: debhelper (>= 7.0.50~), puredata, quilt (>= 0.46-7~)
Standards-Version: 3.9.1
Homepage: http://puredata.info

Package: pd-earplug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pd
Description: binaural filter based on KEMAR impulse measurement for Pd
 earplug~ is a realtime binaural filter based on KEMAR impulse measurement.
 It allows you to spatialize a sound in realtime. It basically takes the KEMAR
 data set, and interpolates 366 locations where HRTF measurement exists in a
 spherical surface. you get azimuth control 0-360 and elevation -40 - 90.
